<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <!-- Включите DEBUG для вашего пакета -->
        <Logger name="com" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- Логирование Playwright -->
        <Logger name="com.microsoft.playwright" level="INFO"/>

        <Logger name="io.qameta.allure" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>